<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Travel Itineraries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Recent Itineraries</h1>
        <ul>
            {% for itinerary in recent_itineraries %}
                <li>{{ itinerary.destination }} - <a href="/confirm_delete/{{ itinerary.destination }}">Delete</a></li>
            {% endfor %}
        </ul>
        <a href="/search">Search</a>
        <a href="/add">Add</a>
        <a href="/info">Info</a>
    </div>
</body>
</html>


